<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel = "stylesheet" href="assets/styles/myStyles.css">

  </head>

  <body>
    <%- body %>
  </body>
</html>
