<!DOCTYPE html>
<html>
<head>
  <title> This is my first time ever writting html by my self {Angular} </title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel = "stylesheet" href="assets/styles/myStyles.css">
</head>

<body ng-app = "signUpModel" ng-controller = "signUpController">
  <h1>
    not sure yet
  </h1>
  <!--SCRIPTS-->
  <script src="/js/dependencies/sails.io.js"></script>
  <!--SCRIPTS END-->
</body>
</html>
